nav{
  text-align: center;
}

.root{ 
  text-align: center;
  padding: 25px;

}

h1{
  color: darkblue;
}

.bannerContainer{
  width: 100%; 
  height: 200px;
  border: 5px solid black;
}

.bannerPic{
  width: 100%;
  object-fit: none;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chessGame{
  width:400px;
  height: 650px;
  border:1px solid black;
  background-color: blue;
}

.myApp-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #12c5f7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-grid{
  display: grid; 
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-gap: 1vw;
  padding: 10px;
}

.bubble-div {
  background-color: #b8f753; 
  /* background-image: linear-gradient( #2685DE88, #2685DEff); */
  border-radius: 15px;
}

.content-back {
  /* background-image: linear-gradient( #2BFFF133, #2BFFF1ff); */
  background-color: rgb(17, 124, 117);
  min-height: 100vh;
}


.btn{
  border: 0px solid #3498db;
  background: none;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  font-family: "montserrat";
  transition: .3s;
}


.btn:hover{
  color: #3498db;
}

.headImage{
  width: 90vw;
  height: 40vh;
  object-fit: cover;
}

.headBody{
  
  text-align: center;
  align-items: center; 
}
